/* header top banner */
.headerUpperContainer {
    width: 100%;
    background-color: #171d27;
    padding: 15px 0;
}

/* style all the element of upper headersection */
.upperHeaderElements {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;
}

.logoAndHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    width: 120px;
}

/* search bar  */
.searchContainer {
    margin-left: 20px;
}

.searchBarFrom {
    display: flex;
    flex-direction: row;
}

.searchInput {
    height: 40px;
    width: 400px;
    padding: 0 10px;

    color: rgb(29, 29, 29);
    background-color: #ffffff;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    border: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 10px;
}

.searchButtonIcon {
    cursor: pointer;
    color: #146cda;
    font-size: 1rem;
}

/* header utility actions or icon for profile and shoping cart & love  */
/* header logo  */
.headerUserActions {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.userContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;

    margin-left: 10px;
}

.profileIcon {
    height: 27px;
    width: 27px;
    color: #171d27;
}

.shopIcons {
    height: 27px;
    width: 27px;
    color: #ffffff;

    margin: 0 10px;
}
