/* header bottom banner */
.headerLowerContainer {
    background-color: #146cda;
    width: 100%;
}

.navItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 7px 0;
}

.navItems {
    list-style-type: none;
    list-style: none;
    margin: 0 10px;
    padding: 0 10px;
}

.navLinks {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.9rem;
}


