/* header top banner */
.headerUpperContainer {
    width: 100%;
    background-color: #171d27;
    padding: 15px 0;
}

/* style all the element of upper headersection */
.upperHeaderElements {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;
}

.logoAndHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




