/* header top banner */
.headerUpperContainer {
    background-color: transparent;
    width: 100%;
    padding-top: 15px;
}

/* style all the element of upper headersection */
.upperHeaderElements {
    justify-content: space-between;
    flex-direction: row;
}

.logoAndHeaderContainer {
    flex-direction: row;
}




