/* header top banner */
.headerUpperContainer {
    width: 100%;
    background-color: #171d27;
    padding: 15px 0;
}

/* style all the element of upper headersection */
.upperHeaderElements {
    justify-content: space-between;
    flex-direction: row;
}

.logoAndHeaderContainer {
    flex-direction: row;
}




