/* header bottom banner */
.headerLowerContainer {
    background-color: transparent;
    width: 100%;
    padding: 5px 0;
}

.gradient-border{
    border: 1px solid;
    border-image: linear-gradient(90deg,#2f2f2f 0%, rgb(102, 102, 102) 50%, #2f2f2f 100%);;
    border-image-slice: 1;
}

.navContainer {
    width: 100%;
}

.navItemsContainer {
    flex-direction: row;
    margin: 7px 0;
}

.navItems {
    list-style-type: none;
    list-style: none;
    margin: 0 10px;
    padding: 0 10px;
}

.navLinks {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1rem;

    transition: 0.1s ease-in-out;
}
