/* header bottom banner */
.headerLowerContainer {
    background-color: transparent;
    width: 100%;
    padding: 5px 0;
}

.navContainer {
    width: 100%;
}

.navItemsContainer {
    flex-direction: row;
}

.navItems {
    list-style: none;
    margin-bottom: 10px;
}

.navLinks {
    text-transform: capitalize;

    color: var(--text-gray);
    font-weight: 500;
    font-size: 1rem;

    margin: 0 10px;
    padding: 0 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.navLinks:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
