.timer-container{
    width: 100%;
    margin-top: 1rem;
    background-color: var(--bg-deep-gray);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(63 63 70);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}   

.timer-container > div {
    padding: 0.5rem;
    background-color: rgb(63 63 70);
    border-radius: calc(0.5rem - 2px);

    flex-direction: column;
}

.timer-container > div > p {
    color: var(--primary-color-light);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
}

.timer-container > div > span {
    color: var(--white);
    font-size: 2.25rem;
    line-height: 2.5rem;
}

