/* search bar  */
.searchContainer {
    margin-left: 20px;
}

.searchBarFrom {
    display: flex;
    flex-direction: row;
}

.searchInput {
    height: 40px;
    width: 400px;
    padding: 0 1.5rem;

    color: var(--text-dark-gray);
    background-color: var(--bg-gray);

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: text;

    box-shadow: none;

    border-left: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}

.searchButton {
    height: 40px;
    width: 40px;

    background-color: rgb(39 39 42);

    padding: 9px;

    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-left: none;
}

.searchButtonIcon {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1rem;
}
