/* header utility actions or icon for profile and shoping cart & love  */
.headerUserActions {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.userContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;

    margin-left: 10px;
}

.profileIcon {
    height: 27px;
    width: 27px;
    color: #171d27;
}

.shopIcons {
    height: 27px;
    width: 27px;
    color: #ffffff;

    margin: 0 10px;
}
