/* header utility actions or icon for profile and shoping cart & love  */
.headerUserActions {
    flex-direction: row;
}

.userActionIcon {
    background-color: var(--bg-gray);

    height: 40px;
    width: 40px;
    margin: 0 5px;

    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition-timing-function: var(--timing-function);
    transition-duration: var(--duration);
}

.userActionIcon:hover {
    background-color: var(--bg-gray-light);
}

.userActionIcon svg {
    display: block;
    color: var(--primary-color);
}
