:root {
    --white: rgb(255, 255, 255);

    --primary-color: rgb(235, 255, 81);

    --text-light-gray: rgb(229 231 235);
    --text-gray: rgb(156 163 175);
    --light-yellow-color: rgb(243, 255, 156);

    --bg-gray-light: rgb(55, 55, 58);
    --bg-gray: rgb(39 39 42);
    --bg-deep-gray:rgb(24, 24, 27);

    --bg-black: rgb(9 9 11);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 150ms;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 253, 245);
}

a {
    text-decoration: none;
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Universal class to center a div. 
why because i am a lazy men */
.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alingCenterDiv {
    display: flex;
    align-items: center;
}

.justifyCenterDiv {
    display: flex;
    justify-content: center;
}
